
html  {
    /* Location of the image */
     background-image: url('./images/hearts.png'); 
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;
    
    /* Set a background color that will be displayed
       while the background image is loading */
    /* background-color: #464646; */

    font-family: 'Tangerine', serif;
    font-size: 22px;
  }

  .smt_card {
    /* Location of the image */
    width:100%;
    height:auto;
    
    /* Background image is centered vertically and horizontally at all times */
    /* background-position: center center; */
    
    /* Background image doesn't tile */
     background-repeat: no-repeat; 
    
    /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
     background-attachment: fixed; 
    
    /* This is what makes the background image rescale based
       on the container's size */
    /* background-size: inherit; */
    
    /* Set a background color that will be displayed
       while the background image is loading */
    /* background-color: #464646; */

  }